*{
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    display: block;
    border-radius: 10px;
    width: 30%;
    height: 350px;
    color: white;
    background: blue;
    text-align: center;
}

.wth {
    font-size: 25px;
}